.nav {
    position: fixed;
    display: inline-block;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: -5px 5px 16px 1px #ccc;
    top: 30px;
    left: 30px;
}

.nav a {
    display: block;
    line-height: 30px;
    text-decoration: none;
    font-weight: bold;
    color: deepskyblue;
}